@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
  font-family: "Open Sans", serif;
}
html,body,.container {
  height:100%;
}

.wrapper {
  background: linear-gradient(to right, #e67e22, #e74c3c);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.content-container {
   
  text-align: center;
  margin: 0;
  }

.weather-container{
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  align-items: stretch;
  text-align: center;
  margin: 0;
  background: url("img/bg.jpg") center center no-repeat;
  background-size: cover; 
}

.title-container {
   display: flex;
  justify-content: center;
  align-items: center;
  
  text-align: center;
  margin: 0;
  background: url("img/bg.jpg") center center no-repeat;
  background-size: cover; 
}

.row.display-table {
  display: table;
  height: 80vh;
}
.row.display-table [class*='col-'] {
  float: none;
  display: table-cell;
}
.title-container__title {
  font-size: 5rem;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: 'Roboto Slab', serif;
}


input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #f16051;
  width: 30%;
  padding-bottom: 4px;
  color: rgb(29, 24, 24) !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] { 
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2c3e50 inset;
    -webkit-text-fill-color: #fff !important;
}

button {
  border: 0;
  padding: 8px 20px;
  margin: 0 2px;
  border-radius: 2px;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 15px;
  cursor: pointer;
  background-color: #f16051;
  color: #fff;
  font-weight: 100;
}

button:active {
  outline: none;
}


.weather__error {
  color: #f16051;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}
.weather__tempvalue {
  display: inline-block;
  font-size: 5rem;
  font-weight: 600;
  
}
.weather__deg {
  display: inline-block;
  font-size:2.5rem;
  font-weight: 600;  
  vertical-align: top;
  margin-top: 10px;
}
.weather__temptype {
  font-size: 4rem;
  font-weight: 400;
}

.weather__description {
   font-weight: 400;
  text-transform: capitalize;
}
.weather__area{
  font-size: 3rem;
  
}